# Web Framework & Server
fastapi
uvicorn[standard]
python-multipart

# External Requests
requests
httpx

# Data Science & Quant Finance
pandas==2.2.3
numpy
scipy
yfinance
statsmodels

# Machine Learning & AI
openai
tensorflow
scikit-learn
keras

# Database & ORM
sqlalchemy
psycopg2-binary
alembic

# Security & Authentication
python-jose[cryptography]
passlib[bcrypt]

# Configuration & Environment
python-dotenv
pydantic
pydantic-settings